.evb {
  &-icons {
    padding: 4px;
    display: block;
    text-indent: -9999px;
    width: 32px;
    height: 32px;

    &-mail {
      background: url("/assets/icons/Mail.svg") no-repeat center center;
      background-size: 21.5px 15.5px;
    }

    &-telegram {
      background: url("/assets/icons/Telegram.svg") no-repeat center center;
      background-size: 21px 21px;
    }

    &-instagram {
      background: url("/assets/icons/Instagram.svg") no-repeat center center;
      background-size: 20.5px 20.5px;
    }
  }
}